<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartgresiter.family">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FamilyTheme">
        <activity
            android:name=".FamilyListActivity"
            android:label="@string/app_name"
            android:theme="@style/FamilyTheme.NoActionBar">
        </activity>
        <activity
            android:name=".FamilyDetailActivity"
            android:label="@string/title_family_detail"
            android:parentActivityName=".FamilyListActivity"
            android:theme="@style/FamilyTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.smartgresiter.family.FamilyListActivity" />
        </activity>
        <activity
            android:name=".activity.FamilyRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar" />
    </application>

</manifest>